<meta charset="UTF-8">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assets/style.css">

<script src="../assets/script.js"></script>

<body>
<div id="card">
    <div id="content">
        <div id="head" class="block">
            <div id="name">{{name}}</div>
            <div id="tags">{{tags}}</div>
        </div>
        <div id="values" class="block">
            {% for icon, value in values.items() %}
            <div class="cell">
                <img src="../assets/icon/{{icon}}.svg" height="50" width="50"/>{{value}}
            </div>
            {%endfor%}
        </div>
        <div id="description" class="block">
            <div class="title"> Descripción</div>
            <div class="text">
                {{description}}
            </div>
        </div>
        {% if requirements != '' %}
        <div id="requirements" class="block">
            <div class="title"> Requisitos</div>
            <div class="text">
                {{requirements}}
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>