<meta charset="UTF-8">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assets/style.css">

<script src="../assets/script.js"></script>

<body>
<div id="card">
    <div id="head" class="block">
        <div id="name">{{name}}</div>
        <div id="tags">{{tags}}</div>
    </div>
    <div id="values" class="block">
        <div class="cell">
            <img src="../assets/icon/coins.svg" height="50" width="50"/>200
        </div>
        <div class="cell">
            <img src="../assets/icon/move.svg" height="50" width="50"/>200
        </div>
        <div class="cell" style="margin-right: -5px;">
            <img src="../assets/icon/index.svg" height="50" width="50"/>200
        </div>
    </div>
    <div id="description" class="block">
        <div class="title"> Descripción</div>
        <div class="text">
            {{description}}
        </div>
    </div>
    <div id="requirements" class="block">
        <div class="title"> Requisitos</div>
        <div class="text">
            {{requirements}}
        </div>
    </div>
</div>
</body>